* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*========== NAV BAR STYLE ==========*/
nav {
  background-color: #041731;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: relative;
}

.logo {
  font-size : clamp(1.5rem, 3vw, 1.75rem);
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

.menu{
  display: flex;
  align-items: center;
}

.menu-icon {
  display: none;
  background: none;
  cursor: pointer;
  font-size: 26px;
}

.menu.open{
  display: block;
  right: 0;
}

body.menu-open,
html.menu-open {
  overflow: hidden;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

nav ul li {
  font-size : clamp(1.5rem3vw,1.75rem);
  font-weight: 400;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.boxed {
  background-color: #aa4f38;
  padding: 15px 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=========== HERO SECTION STYLE ========*/
.hero {
  display: flex;
  align-items: stretch;
  height: calc(100vh - 80px);
  padding: 0 15vw;
  gap: 4rem;
  background-color: #3d5a80;
}

.hero-text{
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.hero-title {
  font-weight: 700;
  font-size : clamp(1.5rem,3vw,1.75rem);
}

.hero-title2 {
  color: brown;
}

.hero-description {
  font-weight: 400;
  font-size : clamp(1.5rem,3vw,1.75rem);
}

.hero-subsection{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 0 1 80%;
}

.image-container{
  position: relative;
  width: 100%;
}

.hero-image {
  width: 100%;
  max-width: clamp(300px, 35vw, 500px);
  height: auto;
  z-index: 2;
}

.circle {
  position: absolute;
  background-color: #2932415E;
  border-radius: 50%;
  top: -1vw;
  left: 2.5vw;
  width: 18vw;
  height: 18vw;
  z-index: 0;
}

/* ========== ABOUT SECTION STYLE ==========*/
.about-section {
  background-color: #293241;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10vh 15vw;
  gap: 5rem;
}

.about-image {
  width: 100%;
  height: auto;
}

.about-section article {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.about-text {
  font-size : clamp(1.5rem3vw,1.75rem);
}

.about-text::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.2rem;
  width: 36vw;
  background-color: #EE6C4D;
  margin-top: 0.5rem;
}

.about-section p {
  font-size : clamp(1.5rem3vw,1.75rem);
  margin-bottom: 1.2rem;
}

/* ======= COMPANIES STYLE ======== */
.companies {
  background-color: #132038;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 10rem;
  gap: 1.5rem;
}

.companies p {
  color: #ffffff;
  font-size : clamp(1.5rem3vw,1.75rem);
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.companies p::after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 8vw;
  background-color: #EE6C4D;
  margin-top: 0.5rem;
}

.companies-logos {
  width: 100%;
  height: auto;
}

/*=========== RECENT WORK STYLING ========*/
.recet-work {
  background-color: #293241;
  padding: 3rem 10rem;
  width: 100%;
  height: auto;
}

.work-title {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size : clamp(1.5rem3vw,1.75rem);
  color: #ffffff;
  text-align: left;
  padding-bottom: 2rem;
}

.work-title::after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 18vw;
  background-color: #EE6C4D;
  margin-top: 0.5rem;
}

.services-offered {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.service {
  width: 100%;
  height: auto;
}

figcaption {
  font-size : clamp(1.5rem3vw,1.75rem);
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

/* .recet-work a {
  display: block;
  text-align: center;
  margin: 2rem auto;
  color: #ee6c4d;
  border: 1px solid #ee6c4d;
  border-radius: 5px;
  text-decoration: none;
  padding: 12px 8px 12px 8px;
} */

/* ======CLIENT REVIEWS STYLE ======= */


.client-comment-wrapper{
  overflow: hidden;
  padding: 1rem 8rem;
}

.scroll-left{
  all: unset;
  position: absolute;
  top: 50%;
  left: 8rem;
}

.scroll-right{
  all: unset;
  position: absolute;
  top: 50%;
  right: 8rem;
}

.reviews {
  position: relative;
  background-color: #2f3746;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 4vw;
  gap: 1.5rem;
}

.reviews h1 {
  color: #ffffff;
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size : clamp(1.5rem3vw,1.75rem);
}

.reviews h1::after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 8vw;
  background-color: #EE6C4D;
  margin-top: 0.5rem;
}

.client-comment {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.client-comment > div {
  flex: 0 0 calc(50% - 1.5rem);      
  box-sizing: border-box;
}

.Charles,
.marg,
.dav {
  background-color: #00000073;
  border-radius: 3px;
  opacity: 1;
  padding: 1vw;
}

.client {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding-bottom: 1rem;
}

.client-image {
  opacity: 1;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.client-info {
  display: block;
}

.Charles p,
.marg p,
.dav p {
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size : clamp(1.5rem3vw,1.75rem);
  color: #ffffff;
}

/* ========== CONTACT FORM STYLE =========  */
.contact-us {
  background-color: #3d5a80;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2vw 9vw;
  width: 100%;
  height: auto;
}

.contact-us p {
  font-family: Open Sans;
  font-weight: 400;
  font-size : clamp(1.5rem3vw,1.75rem);
  color: #ffffff;
  padding-bottom: 2rem;
}

.contact-us p::after {
  content: "";
  position: absolute;
  display: block;
  height: 3px;
  width: 18vw;
  background-color: #EE6C4D;
  margin-top: 0.5rem;
}

.form-inputs {
  display: flex;
  gap: 1rem;
}

.form-inputs input {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
}

.contact-form input,
.contact-form textarea {
  background-color: #26384f;
  border-radius: 3px;
  border: none;
  padding-top: 2vh;
  padding-left: 1vh;
}

textarea {
  resize: vertical;
  box-sizing: border-box;
  font-family: Open Sans;
  font-weight: 400;
  font-size : clamp(1.5rem3vw,1.75rem);
  width: 100%;
  padding-bottom: 5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input::placeholder,
textarea::placeholder {
  color: #ffffffb2;
  font-family: Open Sans;
  font-weight: 400;
  font-size : clamp(1.5rem3vw,1.75rem);
}

button {
  background-color: #ee6c4d;
  border-radius: 5px;
  padding: 1rem 4rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  font-size : clamp(1.5rem3vw,1.75rem);
  color: #ffffff;
  border: none;
}

/* ========= FOOTER STYLE ======== */
.footer {
  background-color: #141920;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
  font-family: Open Sans;
}

.footer p {
  font-weight: 700;
  font-size : clamp(1.5rem3vw,1.75rem);
  color: #ffffff;
}

.social-page {
}

@media (max-width: 768px){
  .menu-icon{
    display: block;
  }

  .menu{
    display: none;
    background-color: #0a2447;
    top: 50px;
    position: fixed;
    z-index: 1000;
    width: 73%;
    height: calc(100vh - 50px);
    justify-content: center;
  }

  .image-container{
    display: none;
  }

  .about-image{
    display: none;
  }

  .copyright{
    display: none;
  }

  nav{
    height: 50px;
  }

  nav ul li{
    margin: 2rem;
  }

  .hero{
    height: calc(100vh - 50px);
  }

  .client-comment > div {
    min-width: 100%;
  }  

  .client-comment > div {
  max-width: 60px;
  max-height: 240px;
}

}

