* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*========== NAV BAAR STYLE ==========*/
nav {
  background-color: #3d5a80;
  height: 98px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.logo {
  font-size: 18px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
}

nav ul li {
  font-size: 16px;
  font-weight: 400;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

.boxed {
  background-color: #ee6c4d;
  padding: 15px 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*=========== HERO SECTION STYLE ========*/
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 98px);
  background-color: #3d5a80;
}

.hero p {
  color: white;
}

.hero-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 40px;
}

.hero-title2 {
  color: brown;
}

.hero-description {
  font-weight: 400;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

.hero-subsection {
  position: relative;
}

.hero-image {
  bottom: 0;
  width: 100%;
  max-width: 315px;
  height: auto;
  transform: translateX(-10%);
  z-index: 9999;
  width: 100%;
  height: auto;
}

/* .circle {
  position: absolute;
  background-color: #2932415E;
  border-radius: 50%;
  top: -2vw;
  left: -2vw;
  width: 18vw;
  height: 18vw;
} */

/* ========== ABOUT SECTION STYLE ==========*/
.about-section {
  background-color: #293241;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10vh 15vw;
  gap: 5rem;
}

.about-image {
  width: 100%;
  height: auto;
}

.about-section article {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.about-text {
  font-size: 28px;
  border-bottom: 3px solid #ee6c4d;
}

.about-section p {
  font-size: 18px;
  margin-bottom: 1.2rem;
}

/* ======= COMPANIES STYLE ======== */
.companies {
  background-color: #132038;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  gap: 1.5rem;
}

.companies p {
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
}

.companies-logos {
  /* width: 100%; */
  height: auto;
}

/*=========== RECENT WORK STYLING ========*/
.recet-work {
  background-color: #293241;
  padding: 5vh 10vw;
  gap: 10rem;
}

.recet-work p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #ffffff;
}

.services-offered {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5rem;
}

.service {
  width: 100%;
  height: auto;
}

figcaption {
  font-size: 18px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
}

.recet-work a {
  display: block;
  text-align: center;
  margin: 2rem auto;
  color: #ee6c4d;
  border: 1px solid #ee6c4d;
  border-radius: 5px;
  text-decoration: none;
  padding: 12px 8px 12px 8px;
}

/* ======CLIENT REVIEWS STYLE ======= */
.reviews {
  background-color: #2f3746;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3vh 4vw;
  gap: 1.5rem;
}

.reviews h1 {
  color: #ffffff;
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 28px;
  border-bottom: 3px solid #ee6c4d;
}

.client-comment {
  display: flex;
  padding: 2% 12%;
  gap: 3rem;
}

.Charles,
.marg {
  background-color: #00000073;
  border-radius: 3px;
  opacity: 1;
  padding: 1vw;
}

.client {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding-bottom: 1rem;
}

.client-image {
  opacity: 1;
  background-color: #c4c4c4;
  border-radius: 50%;
}
.client-info {
  display: block;
}

.Charles p,
.marg p {
  font-family: Open Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  color: #ffffff;
}

/* ========== CONTACT FORM STYLE =========  */
.contact-us {
  background-color: #3d5a80;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2vw 9vw;
  width: 100%;
  height: auto;
}

.contact-us p {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 28px;
  color: #ffffff;
}

.form-inputs {
  display: flex;
  gap: 1rem;
}

.form-inputs input {
  width: 100%;
  height: auto;
  padding-bottom: 1rem;
}

.contact-form input,
.contact-form textarea {
  background-color: #26384f;
  border-radius: 3px;
  border: none;
  padding-top: 2vh;
  padding-left: 1vh;
}

textarea {
  resize: vertical;
  box-sizing: border-box;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  padding-bottom: 5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

input::placeholder,
textarea::placeholder {
  color: #ffffffb2;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
}

button {
  background-color: #ee6c4d;
  border-radius: 5px;
  padding: 1rem 4rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  border: none;
}

/* ========= FOOTER STYLE ======== */
.footer {
  background-color: #141920;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2rem;
  font-family: Open Sans;
}

.footer p {
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
}

.social-page {
}
